.aboutusimage
{
  width: 100%;
   height: 100%;;
   align-items: center;
   text-align: center;
   padding-left: 350px;
   padding-right: 350px;
   padding-bottom: 30px;
   display: block;
   
}
.back
{
background-image: url(/assets/back.png);
background-size:cover;
background-position: center;

}


.part2 {
  align-items: center;
  padding: 37.5px 200px;
  
  text-align: center;
}


.wp_caption:after {
  content: "";
  position: absolute;
  display: block;
  top: 30%;
  width: 50%;

}


.part1 {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0 50px 0;
}

.inner {
  width: 33%; 
}



.p1 {
  font-size: 18px;
  text-align: center;
  color: black;
}
