.section_container{
      padding-top: 9%;

}

.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3%;
    grid-gap: 10%;
    column-gap: 5%;
    padding-left: 4%;
    padding-bottom: 2%;
  }
  
  .card {
    grid-column: span 1;
  }
