.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 44px;
    column-gap: 54px;
    padding-top: 18.6px;
    padding-left: 4%;
  }
  
  .card {
    grid-column: span 1;
  }
