.section{
    align-items: center;
    padding: 15px 6px;
    background-color: #ffffff;
}

.span {
    display: flex;
    justify-content: center;
    font-size: 1rm;
    font-weight: bold;
    color: #333;
    /* padding: 0px 30%; */
    
  }

.div{
    /* padding-left: 50%; */
    padding-bottom: 15px;
    border-bottom: groove;
    border-color: #02c180;
    
    display: flex;
    gap: 36px;   
}


.tr:hover {
    background-color: #ADD8E6; /* This is a light blue color */
  }

.tr{
    height: 30px;
}