.container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    
  }

  .section1 {
    flex: 1; /* This sets the flex-basis property to 0, and the flex-grow property to 1, which means that the sections will take up an equal amount of the available space */
  }

  .section2 {
    flex: 3; /* This sets the flex-basis property to 0, and the flex-grow property to 3 */
  }

  